body {
  font-family: 'Merriweather', 'Lato', sans-serif;
  margin-top: 40px;
  text-rendering: geometricPrecision;
}
@media (min-width: 100px) and (max-width: 399px) {
  body {
    margin-top: 100px;
  }
}
@media (min-width: 400px) and (max-width: 768px) {
  body {
    margin-top: 60px;
  }
}
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes slideDown {
  0% {
    -moz-transform: translateY(-100%);
  }

  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes slideDown {
  0% {
    -o-transform: translateY(-100%);
  }

  100% {
    -o-transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}
.animated.slideDown {
  -webkit-animation-name: slideDown;
  -moz-animation-name: slideDown;
  -o-animation-name: slideDown;
  animation-name: slideDown;
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-100%);
  }
}
@-moz-keyframes slideUp {
  0% {
    -moz-transform: translateY(0);
  }

  100% {
    -moz-transform: translateY(-100%);
  }
}
@-o-keyframes slideUp {
  0% {
    -o-transform: translateY(0);
  }

  100% {
    -o-transform: translateY(-100%);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.animated.slideUp {
  -webkit-animation-name: slideUp;
  -moz-animation-name: slideUp;
  -o-animation-name: slideUp;
  animation-name: slideUp;
}
.slideDown{
    display: block;
}
h1,
h2,
h3,
h4,
ul.pager {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700 !important;
}
body > h1 {
  display: none;
}
#post, #page, .tags, .archives .date {
  padding: 20px;
  /* font-family: 'Vollkorn', sans-serif; */
  font-family: 'Merriweather', 'Lucida Grande', Verdana, 'Bitstream Vera Sans', Arial, sans-serif;
  color: #3A4145;
  letter-spacing: 0.01rem;
  font-size: 1.8rem;
  line-height: 1.75em;
  text-rendering: optimizeLegibility;
}
.archives .post-date {
  width: 150px;
}
.archives .post-date {
  padding:0px;
}
#sidebar {
  padding: 20px;  
}

#sidebar a, .archives a {
  font-size: 18px;
  font-style: italic;
  color: #808080;
}
.hljs {
	background-color: #fff;
	border: none;
}
pre {
	background-color: #fff;
}
code {
  color: rgb(58, 113, 113);
}
pre>code {
    font-family: 'Inconsolata', monospace;
    font-size: 11pt;
    text-align: left;
    width: 635px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap !important;
    word-wrap: break-word;
    background-color: #fff;
    padding: 5px;

    border:1px solid;
    border-color:#eee;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow:    inset 0 0 10px #fff;
    -webkit-box-shadow: inset 0 0 10px #fff;
    box-shadow:         inset 0 0 10px #fff;
    border-radius: 10px;
}
.spacer {
  margin: 0;
  font-size: 60px;
  top: -35px;
  line-height: 20px;
  position: relative;
}
.book {
    width: 250px;
    box-shadow: 5px 5px 3px #ddd;
}
put:focus {
  outline: none;
  border: none !important;
  box-shadow: none !important;
}
#post img {
  width: auto !important; /*override the width below*/
  max-width: 100%
}
textarea {
  resize: none;
}
textarea:focus {
  outline: none;
  border: none !important;
  box-shadow: none !important;
}
.form-control {
  border: none;
  border-radius: 0;
  box-shadow: none;
  -webkit-transition: none;
  transition: none;
}
.btn-grey {
  background: #e6e6e6;
  color: #808080;
}
.btn-grey:hover {
  color: #333333;
  background: #cccccc;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #e6e6e6;
}
::-webkit-scrollbar-thumb {
  background: #cccccc;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #cccccc;
}
#Grid .mix {
  opacity: 0;
  display: none;
}

html,
body,
.container {
  height: 100%;
}
.container {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 100%;
    max-width: 100%;
    padding-left: 50px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 100%;
    max-width: 100%;
    padding-left: 50px;
  }
}
.row {
  margin: 0;
}
.row.top {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}
.row.top > div {
  padding: 0;
}
@media (min-width: 100px) {
  .row.top {
    position: fixed;
    width: 100%;
  }
}
.row.top .col-left .name {
  font-size: 2.0em;
  display: block;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  border-right: 1px solid #e6e6e6;
  padding: 10px;
  font-size: 21px;
  margin-bottom: 0;
  background: #333333;
}
.row.top .col-left .name a {
  color: #f7f7f7;
  text-decoration: none;
}
.post-title {
  color: #333;
  underline: none;
}

nav {
  background: #333;
}
nav .selected {
  background: #555;
}

.row.top .col-right nav {
  border-bottom: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .row.top .col-right nav {
    border: none;
  }
}
.row.top .col-right nav .list-inline {
  display: table;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}
.row.top .col-right nav .list-inline li {
  display: table-cell;
  padding: 0;
  width: 25%;
}
.row.top .col-right nav .list-inline li.last a {
  display: inline;
  border: none;
}
.row.top .col-right nav .list-inline li.last a:hover {
  background: #fff;
}
.row.top .col-right nav .list-inline li.active {
  background: #f7f7f7;
}
.row.top .col-right nav .list-inline li.active a:hover {
  background: #f7f7f7;
}
.row.top .col-right nav .list-inline li a {
  display: block;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  border-right: 1px solid #e6e6e6;
  padding: 10px;
  font-size: 16px;
}
.row.top .col-right nav .list-inline li:last-child a {
  border-right: none;
}
@media (min-width: 768px) and (max-width: 992px) {
  .row.top .col-right nav .list-inline li a {
    padding: 14px 0;
  }
}
@media (min-width: 992px) {
  .row.top .col-right nav .list-inline li a {
    font-size: 21px;
  }
}
@media (min-width: 400px) and (max-width: 768px) {
  .row.top {
    width: 100%;
  }
}
@media (min-width: 468px) and (max-width: 768px) {
  .row.top .col-right nav .list-inline li a {
    font-size: 21px;
  }
}
.row.top .col-right nav .list-inline li a:hover {
  color: #0d0d0d;
  text-decoration: none;
  background: #e6e6e6;
}

.row.bottom {
  border-top: 1px dotted #adadad;
  padding-top: 0;
}
.row.bottom section {
  padding: 20px;
}

@media (min-width: 768px) {
  .row.bottom {
    padding-top: 50px;
  }
}

ul.pager li > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: none;
  font-size: 25px;
  color: #333333;
}

.pager > a:hover {
  color: #0d0d0d;
  background-color: #f7f7f7;
}


@media (min-width: 768px) and (max-width: 992px) {
  .row.bottom > div {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (min-width: 992px) {
  .row.bottom > div {
    overflow: auto;
  }
}
